@import "../common";
$color: red;
$bluecolor: blue;
nav{
  color:$color;
  background:red;
  @include display-flex(inline-flex);
  @include align-items(center);
  @include justify-content(center);
}

footer{
  background:#CCC !important;
  color:pink;
  font-size:14px;
  border:1px solid red;
}

h1{
  color:yellow;
  background:$color;
  font-size:20px;
}

p{
  color:$color;
  background:#FFF;
  border:1px solid pink;
}
